.main{
    display:block;
    width:100%;
    height:100%;
    background: url(.jpg) no-repeat #220101;
    background-size: cover;
    font-family: 'Domine', serif;
    font-family: 'Glegoo', serif;
    font-size:200%;
    font-weight:bold;
    color:#FEF0F0;
   
}
#movie {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	z-index:-9999;
	min-width: 100%; 
    min-height: 100%;
    width: auto; height: auto; 
}
 
 
.container{
    position:absolute;
    display: -webkit-flex;
    display: flex;
   -webkit-justify-content: flex-start;
    justify-content: flex-start;
 width:100%;
 height:20%;
 left:20px;
 top:30px;
}

.flex-item{
 -webkit-flex:1;
  width: 100px;
  height: 100px;
  margin:5px;
}
.flex-item{
    -webkit-flex:1;
            flex:1;
     
}
.flex-item1 {
  -webkit-flex: none;
          flex: none;
  width: 200px;
  min-width: 100px;
}
.flex-item2 {
  -webkit-flex: none;
          flex: none;
  width: 200px;
  min-width: 100px;
}
.flex-item3 {
  -webkit-flex: none;
          flex: none;
           width: 200px;
  min-width: 100px;
}
.flex-item4 {
  -webkit-flex: none;
          flex: none;
  width: 200px;
  min-width: 100px;
}
.vertical-container {
    position:absolute;
  height: 300px;
  top:250px;
  left:20px;
  display: -webkit-flex;
  display:         flex;
  
  -webkit-justify-content: center;
          justify-content: center;
}
.space-container{
    
  position:absolute;
  display: -webkit-flex;
  display: flex;
   -webkit-justify-content: space-around;
    justify-content: space-around;
 width:100%;
 height:20%;
 left:100px;
 bottom:20px;
}
a {
    color:#FEF0F0;
}
a:link{
    text-decoration: none;
    color:#FEF0F0;
}
a:hover {
    text-decoration: underline;
    color:#FEF0F0;
}
.red{
    color:red;
}