

body{
    position: fixed;
    width: 100%;
    height: auto; 
	top: 0; right: 0; bottom: 0; left: 0;
    background: url("../icon/image_works.jpg") no-repeat black;
    
   font-family: 'Cinzel', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Khand', sans-serif;
line-height:200%;
    font-size:200%;
font-weight:bold;
    color:#FEF0F0;
   
}
 #page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 35%;
    top: 25%;
    background: url("../icon/loaders.gif") no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

 .page{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
    justify-content:center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%; 
    min-height: 100%;
    overflow:auto;
    
 }
 .container{
     padding: 0;
  
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;

    display: -webkit-flex;
    display: flex;
     justify-content:space-around;
 
 width:100%;
 height:30%;
 margin:100px 10px 10px 10px;
 }


.flex-item{
 -webkit-flex:none;
         flex:none;
  width: 200px;
  height: 100px;
  
  
  
  
}

.flex-item1 {
  -webkit-flex: none;
          flex: none;
  min-width: 100px;
  
   

}
.flex-item2 {
  -webkit-flex: none;
          flex: none;
 
  min-width: 100px;
  
    

}
.flex-item3 {
  -webkit-flex: none;
          flex: none;
           
  min-width: 100px;
  
    
}
.flex-item4 {
  -webkit-flex: none;
          flex: none;
 
  min-width: 100px;
 
   

}
.videos {

   width:100%;
 height:50%;
  
   
  padding:0;
   margin:10px 10px 100px 10px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
iframe{
   
  padding: 10px;
  width: 200px;
  height: 150px;

  
  line-height: 150px;
  
 
}
img{
    color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
a {
    color:#FEF0F0;
}
a:link{
    text-decoration: none;
    color:#FEF0F0;
}
a:hover {
    text-decoration: underline;
    color:#FEF0F0;
} 

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.frame {
    display: flex;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    padding: 10px;
  width: 200px;
  height: 150px;

  
  line-height: 150px;
}

.frame:hover,
.frame:focus,
.frame:active {
    transform: scale(1.1);
}

