

.main {

  display: -webkit-flex;
  display:         flex;
  flex-basis:auto;
 width: 100%;
    height: auto; 
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;

    background: url(.jpg) no-repeat #220101;
    
}
video{
object-fit: fill;
flex-basis:auto;
}